h1 {
    font-size: 3rem;
    font-family: var(--font-title);
    color: var(--color-text);
    margin-bottom: 3rem;
}

/* Container em grade */
.equipe-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 0 2rem;
    padding-bottom: 20px;
}

/* Card individual */
.card {
    background-color: var(--color-card-bg);
    border-radius: 16px;
    box-shadow: 0 0 12px rgba(255, 0, 204, 0.2);
    padding: 1rem;
    max-width: 280px;
    text-align: center;
    transition: transform 0.3s ease, background 0.3s ease;
    color: var(--color-text);
    font-family: var(--font-body);
}

.card:hover {
    transform: scale(1.05);
    background-color: var(--color-card-hover);
}

.card-img-top {
    width: 100%;
    height: auto;
    border-radius: 16px;
    margin-bottom: 1rem;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--color-text);
    text-align: left;
    padding-left: 15px;
    padding-bottom: 15px;
}

.card-text {
    font-size: 1rem;
    opacity: 0.9;
    color: var(--color-text);
    text-align: left;
}

.equipe-titulo {
    width: 100%;
    padding-left: 2rem;
    padding-bottom: 25px;
}

.equipe-titulo h1 {
    font-size: 3rem;
    font-family: var(--font-title);
    color: var(--color-text);
    line-height: 1;
    margin: 0;
    text-align: left;
}

.t1 {
    padding-left: 50px;
}